.contrast-green {
  color: #3cc3b2;
}

html {
  margin: 0;
  top: 0;
  margin-bottom: 10px;
}

body {
  font-family: Lato, Helvetica, Neue, Arial, 'sans-serif';
  font-size: 14px;
  min-width: 400px;
}
body:nth-child(even) {
  background-color: white;
}
body:nth-child(odd) {
  background-color: rgb(247, 247, 247);
}

#configured-header {
  display: none;
}

#configuration-header {
  display: flex;
}

#settings-body {
  margin: 25px;
  background-image: url(img/loginBackground.png);
}

body.configuration-problem {
  background-image: url(img/403Unauthorized.jpg);
  background-position: 0px 50px;
  background-size: cover;
}

h1 {
  font-size: 15px;
}

button.btn-contrast-plugin {
  border-radius: 3px;
  background-color: #3cc3b2 !important;
  border-color: #3cc3b2;
  border-radius: 3px;
  color: #fff;
}

button.btn-contrast-plugin:hover, button.buttonTab:hover {
  background-color: #0da1a9 !important;
  border-color: #0da1a9;
}

.tab-selector {
  display: flex;
  flex-direction: row;
  top: 0px;
}

button.buttonTab {
  width: 50%;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  outline: none;
}

button.buttonTab:focus, button.buttonTab:active, .unfocued-but-still-showing {
  border: 2px solid #3cc3b2;
  border-color: #3cc3b2;
  background-color: #3cc3b2 !important;
  color: #fff;
  outline: none;
}

button.buttonTab:hover {
  color: #fff;
}

#no-results {
  align-items: center;
  justify-content: space-between;
}

#vulnerabilities-section, #libraries-section {
  width: 400px;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  border: 0;
  margin-bottom: 0px;
}
#no-vulnerabilities-found {
  margin: 0 auto;
  padding: 20px;
}

#activity-feed input {
  width: 100%;
}

div#get-started {
  display: none;
  margin: 100px auto;
}

div#configuration-problem {
  margin: 100px auto;
}

#get-started-img {
  display: block;
  margin: 0 auto;
}

#get-started-description {
  display: block;
  margin: 0 auto;
}

img#header-logo {
}

form.settings-form input {
  width: 100%;
  height: 34px;
  font-size: 14px;
  border-width: 1px;
  border-radius: 3px;
  border-color: #cbcbcb;
}

h1, h2, h3, h4, h5, h6, span, p {
  font-family: "Roboto Condensed", "Lato", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

a.activity-timestamp-header {
  text-transform: uppercase;
  color: #999;
  font-size: 10px;
}

.color-gray {
  color: #999;
}
.wide-lines {
  line-height: 1.5em;
}
.scalable-subtext {
  font-size: 3.5vw;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-weight: 700;
  color: gray;
}

.no-border {
  border: 0;
}

#vulnerabilities-found-on-page, #libs-vulnerabilities-found-on-page {
  width: 100%;
  padding: 0px;
}

#vulnerabilities-found-on-page-list, #libs-vulnerabilities-found-on-page-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vulnerability-li {
  padding: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99%;
  overflow: hidden;
}

.vulnerability-rule-name, .vulnerability-link {
  color: black;
}

.vulnerability-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.vulnerability-rule-name {
  padding-left: 10px;
}

/* gear button in bottom right corner */
.configure-gear {
  outline: none;
  cursor: pointer;
}

.table {
  display: table;
  margin: 0;
}
.section {
  overflow: hidden;
  height: auto;
}
.section, .table {
  transition: transform 0.3s ease-out; /* note that we're transitioning transform, not height! */
  transform: scaleY(1); /* implicit, but good to specify explicitly */
  transform-origin: top; /* keep the top of the element in the same place. this is optional. */
}
.section.collapsed, .table.collapsed {
  transform: scaleY(0);
}
.configure-gear-collapsed {
  animation-name: collapse;
  animation-duration: 2s;
  animation-timing-function: ease;
}
@@keyframes collapse {
  from {
    transform: scaleY(1);
  } to {
    transform: scaleY(0);
  }
}

/* click to show/hide applications */
#applications-heading-container {
  padding: 15px;
  display: none;
}

#applications-heading, #applications-arrow {
  color: black;
  display: inline;
  cursor: pointer;
}

#application-table-container-div {
  width: 100%;
  height: auto;
}

#applications-arrow {
  font-size: 10px;
}

#user-email {
  cursor: pointer;
}

/* Hide success/error message and show when user clicks configure button after installing extension */
.configure-message {
  display: none;
  font-weight: bold;
}

#connected-domain-message {
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

#config-success, #config-failure {
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  font-size: 16px;
}
#success-check {
  color: #65C0B2;
}
#error-x {
  color: #E63025;
}
#success-check, #error-x {
  padding: 10px;
  font-size: 16px;
}

.application-table-visible {
  display: table;
  transition-property: visibility, opacity;
  transition-duration: 0s, 1s;
  margin-bottom: 0px;
}

.application-table-hidden {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 1s, 0s;
  transition-delay: 0s, 0s;
  position: absolute;
}

/***********************************************/
/* NOTE: CONFIGURATION AND POPUP HEADER/FOOTER */
/***********************************************/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  line-height: normal;
}
.flex-row-space-between {
  justify-content: space-between;
}
.flex-row-head {
  justify-content: flex-start;
}
.flex-row-foot {
  justify-content: space-between;
}
.flex-row-item {
  margin-left: 5px;
  margin-right: 5px;
}
.header-row, .footer-row {
  padding: 20px;
}
.header-row, #application-table-container-div {
  border-bottom: 1px solid rgb(220, 220, 220);
}
.footer-row {
  border-top: 1px solid rgb(220, 220, 220);
}
.logo-icon {
  width: 10%;
}
#configure-extension {
  margin-top: 15px;
}
#contrast-url-input-label {
  color: black;
  font-size: 16px;
}
.user-inputs {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid rgb(183, 183, 183);
}
#configure-extension-button {
  float: right;
  border-radius: 0.25;
  color: black;
  border: 2px solid rgb(183, 183, 183);
  margin: 20px;
  margin-right: 0px;
}
#vulns-header-text {
  line-height: normal;
  font-size: 3.75vw;
}
/*********************************************/
/* END CONFIGURATION AND POPUP HEADER/FOOTER */
/*********************************************/

#scan-libs-text {
  color: #65C0B2;
  margin-right: 5px;
}

#scan-libs-text:hover {
  cursor: pointer;
  font-weight: bold;
}

.no-margin {
  margin: 0px;
}


#libs-loading {
  margin: 0 auto;
  border: 10px solid linear-gradient(#3cc3b2, #f3f3f3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s ease-out infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

#libs-loading img {
  width: 100%;
  height: auto;
}

#found-libs-message {
  color: #65C0B2;
  text-align: center;
  font-size: 4vw;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* @keyframes loadingSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


/* BADGES */

.parent-badge {
  display: inline-flex;
  width: 73px;
  border-radius: 2px;
}

.child-badge {
  font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 73px;
  height: 20px;
}
