body {
  font-family: Lato, Helvetica, Neue, Arial, 'sans-serif';
  font-size: 14px;
}

#settings-body {
  margin: 25px;
  background-image: url(img/loginBackground.png);
}

body.configuration-problem {
  background-image: url(img/403Unauthorized.jpg);
  background-position: 0px 50px;
  background-size: cover;
}

h1 {
  font-size: 15px;
}

button.btn-contrast-plugin {
  border-radius: 3px;
  background-color: #3cc3b2 !important;
  border-color: #3cc3b2;
  border-radius: 3px;
  color: #fff;
}

button.btn-contrast-plugin:hover {
  background-color: #0da1a9 !important;
  border-color: #0da1a9;
}

#no-results {
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

#vulnerabilities {
  width: 400px;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  border: 0;
  margin-bottom: 0px;
}

#activity-feed input {
  width: 100%;
}

div#get-started {
  display: none;
  margin: 100px auto;
}

div#configuration-problem {
  margin: 100px auto;
}

#get-started-img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

#get-started-description {
  width: 300px;
  display: block;
  margin: 0 auto;
}

img#header-logo {
  width: 300px;
}

form.settings-form input {
  width: 100%;
  height: 34px;
  font-size: 14px;
  border-width: 1px;
  border-radius: 3px;
  border-color: #cbcbcb;
}

h1, h2, h3, h4 {
  font-family: Roboto, Lato;
}

a.activity-timestamp-header {
  text-transform: uppercase;
  color: #999;
  font-size: 10px;
}

.color-gray {
  color: #999;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-weight: 700;
  color: gray;
}

#logo-icon {
  max-width: 130%;
}

.no-border {
  border: 0;
}

.vulnerability-li {
  padding: 2px 15px;
}

.vulnerability-rule-name, .vulnerability-rule-name:hover {
  color: black;
}

.discovered-vulnerabilities-h {
  margin-top: 5px;
  margin-bottom: 5px;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

#vulnerabilities-found-on-page {
  padding: 0px;
}

#vulnerabilities-found-on-page-list {
  margin-top: 10px;
}

#configure {
  outline: none;
}

/* Hide success/error message and show when user clicks configure button after installing extension */
.configure-message {
  display: none;
  font-weight: bold;
}

#config-success {
  color: #65C0B2;
}

#config-failure {
  color: #E63025;
}

#application-table {
  display: none;
}

/* th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
} */
