/******************/
/* GENERAL STYLES */
/******************/
.contrast-green { color: #3cc3b2; }
.color-gray { color: #999; }
.wide-lines { line-height: 1.5em; }
.scalable-subtext { font-size: 3.5vw; }
.no-border { border: 0; }
.visible { display: block; }
.hidden { display: none; }
.no-margin { margin: 0; }
html {
  margin: 0;
  top: 0;
  margin-bottom: 10px;
}
body {
  font-family: Lato, Helvetica, Neue, Arial, 'sans-serif';
  font-size: 14px;
  min-width: 400px;
  background-color: rgb(247, 247, 247);
}
h1, h2, h3, h4, h5, h6, span, p, td, th {
  font-family: "Roboto Condensed", "Lato", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-weight: 700;
  color: gray;
}
/******************/
/* GENERAL STYLES */
/******************/





/*******************/
/* SECTIONS STYLES */
/*******************/
.section {
  overflow: hidden;
  height: auto;
}
.section {
  overflow: hidden;
  transition: max-height 0.3s linear;
  height: auto;
  max-height: 1000px;
}
.section.collapsed {
  max-height: 0px;
}
/*******************/
/* SECTIONS STYLES */
/*******************/





/**************************/
/* VULNERABILITIES STYLES */
/**************************/
#vulnerabilities-section, #libraries-section {
  width: 400px;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  border: 0;
  margin-bottom: 0px;
  background-color: white;
}
#no-vulnerabilities-found {
  margin: 0 auto;
  padding: 20px;
}
#activity-feed input {
  width: 100%;
}
#vulnerabilities-found-on-page, #libs-vulnerabilities-found-on-page {
  width: 100%;
  padding: 0px;
}
#vulnerabilities-found-on-page-list, #libs-vulnerabilities-found-on-page-list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.vulnerability-li {
  padding: 3px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 99%;
  overflow: hidden;
}
.vulnerability-rule-name, .vulnerability-link {
  color: black;
}
.vulnerability-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.vulnerability-rule-name {
  padding-left: 10px;
}
/**************************/
/* VULNERABILITIES STYLES */
/**************************/





/***********************/
/* APPLICATIONS STYLES */
/***********************/
.table {
  display: table;
  margin: 0;
  border: none;
}
tr:not(:last-child) {
  border-bottom: 1px solid rgb(187, 187, 187);
}
.table td, .table th {
  border: none;
}
#table-container {
  overflow: hidden;
  transition: max-height 0.3s linear;
  height: auto;
  max-height: 1000px;
}
#table-container.collapsed {
  max-height: 0px;
}

/* click to show/hide applications */
#applications-heading-container {
  padding: 10px;
}

#applications-heading, #applications-arrow {
  color: black;
  display: inline;
  cursor: pointer;
}
#application-table-container-div {
  width: 100%;
  height: auto;
  background-color: white;
}
#applications-arrow {
  font-size: 10px;
}
#connected-domain-message {
  text-align: center;
  padding: 10px;
  margin: 0px;
}
/***********************/
/* APPLICATIONS STYLES */
/***********************/





/************************/
/* CONFIGURATION STYLES */
/************************/
#configuration-header {
  display: flex;
}
#configuration-section {
  background-color: white;
}
button.btn-contrast-plugin {
  border-radius: 3px;
}
button.btn-connect {
  color: #fff;
  background-color: #3cc3b2 !important;
  border-color: #3cc3b2;
}
button.btn-connect:hover, button.buttonTab:hover {
  background-color: #0da1a9 !important;
  border-color: #0da1a9;
}
button.btn-disconnect {
  color: rgb(168, 168, 168);
  background-color: #fff !important;
  border-color: rgb(168, 168, 168);
}
button.btn-disconnect:hover {
  color: #fff;
  background-color: rgb(168, 168, 168) !important;
  border-color: rgb(168, 168, 168);
}
/* gear button in bottom right corner */
.configure-gear {
  outline: none;
  cursor: pointer;
}
.configure-gear-rotate {
  animation: gear-spin 1s linear 1;
}
@keyframes gear-spin {
  100% { transform: rotate(180deg); }
}
/* Hide success/error message and show when user clicks configure button after installing extension */
.configure-message {
  font-weight: bold;
  margin: 15px;
  text-align: center;
}
#user-email {
  cursor: pointer;
}
#config-success, #config-failure {
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  font-size: 16px;
}
#success-check {
  color: #65C0B2;
}
#error-x {
  color: #E63025;
}
#success-check, #error-x {
  padding: 10px;
  font-size: 16px;
}
/************************/
/* CONFIGURATION STYLES */
/************************/
/***********************************************/
/* NOTE: CONFIGURATION AND POPUP HEADER/FOOTER */
/***********************************************/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  line-height: normal;
}
.flex-row-space-between {
  justify-content: space-between;
}
.flex-row-head {
  justify-content: flex-start;
}
.flex-row-foot {
  justify-content: space-between;
}
.flex-row-item {
  margin-left: 5px;
  margin-right: 5px;
}
.header-row, .footer-row {
  padding: 20px;
}
.header-row, #application-table-container-div {
  border-bottom: 1px solid rgb(220, 220, 220);
}
.footer-row {
  border-top: 1px solid rgb(220, 220, 220);
}
.logo-icon {
  width: 10%;
}
#configure-extension {
  margin-top: 15px;
}
#contrast-url-input-label {
  color: black;
  font-size: 16px;
}
.user-inputs {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid rgb(183, 183, 183);
}
#configure-extension-button {
  float: right;
  border-radius: 0.25;
  margin: 20px;
  margin-right: 0px;
}
#vulns-header-text {
  line-height: normal;
  font-size: 3.75vw;
}
#scan-libs-text {
  color: #65C0B2;
  margin-right: 5px;
}
#scan-libs-text:hover {
  cursor: pointer;
  font-weight: bold;
}
.loading-icon {
  margin: 0 auto;
  width: 30px;
  height: auto;
}
.loading-icon img {
  width: 100%;
  height: auto;
}
#found-libs-message {
  color: #65C0B2;
  text-align: center;
  font-size: 4vw;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*********************************************/
/* END CONFIGURATION AND POPUP HEADER/FOOTER */
/*********************************************/






/**********/
/* BADGES */
/**********/
.parent-badge {
  display: inline-flex;
  width: 73px;
  border-radius: 2px;
}
.child-badge {
  font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 73px;
  height: 20px;
}
/**********/
/* BADGES */
/**********/
